<%= simple_form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :cpf, :class => "cpf_input" %>
  <%= f.input :phone, :class => "phone_input"  %>
  <%= f.input :street %>
  <%= f.input :number %>
  <%= f.input :neighborhood %>
  <%= f.input :city %>
  <%= f.input :uf %>
  <%= f.input :birth_date, :class => "date_input" %>
  <%= f.input :baptism_date, :class => "date_input" %>
  <%= f.input :date_conversion, :class => "date_input" %>
  <%= f.input :active %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
<% end %>
