<%= simple_form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :cpf %>
  <%= f.input :phone %>
  <%= f.input :street %>
  <%= f.input :number %>
  <%= f.input :neighborhood %>
  <%= f.input :city %>
  <%= f.input :uf %>
  <%= f.input :date_ %>
  <%= f.input :birth %>
  <%= f.input :date_conversion %>
  <%= f.input :active %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
<% end %>
